html {
  box-sizing: border-box; }

* {
  box-sizing: inherit; }

*:before, *:after {
  box-sizing: inherit; }

/* Global layout stuff */
body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: "Roboto Condensed", sans-serif; }

.container {
  width: 450px;
  margin: 0 auto;
  background-color: white;
  padding: 140px 0 140px 0; }
  @media all and (max-width: 450px) {
    .container {
      padding: 80% 0px;
      width: 100%; } }

/* Additional CSS can be defined below or in other CSS files, as per instructions */
#container-tweets {
  padding: 2em; }

.tweet {
  border: 1px solid;
  border-radius: 5px;
  border-color: darkgray;
  margin-top: 20px; }

.tweet header {
  background-color: #f3f3f3;
  overflow: hidden;
  padding: 10px; }

.tweet header img {
  float: left;
  border-radius: 5px; }

.tweet header h2 {
  float: left;
  padding: 0 10px;
  margin: 0;
  color: #647C85; }

.tweet header p {
  float: right;
  color: grey;
  margin: 0;
  padding-top: 10px; }

.tweet-content {
  margin: 0;
  padding: 20px 10px;
  border-bottom: 1px solid;
  border-color: lightgrey;
  word-break: break-all; }

.tweet footer {
  padding: 10px;
  font-size: 13px;
  line-height: 20px; }

.tweet > footer i {
  float: right;
  padding-left: 5px;
  display: none;
  color: #00a087; }

.tweet:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.tweet:hover > footer i {
  display: initial; }

.error-message {
  color: red;
  padding: 0px 2px; }
  @media all and (max-width: 450px) {
    .error-message {
      position: absolute;
      display: none;
      z-index: 45;
      margin: 10px auto;
      border: 1px solid;
      border-color: #00a087;
      background-color: #00a087;
      border-radius: 5px;
      padding: 10px 50px;
      opacity: 1;
      top: 300px; } }

.new-tweet {
  display: none;
  background-color: #eeeeee;
  margin: 0em 2em;
  border-radius: 5px;
  border-color: darkgray;
  border-style: solid;
  border-width: 1px; }

.new-tweet h2 {
  margin: 10px;
  border-bottom: 1px solid; }

.new-tweet form {
  padding: 10px; }

.new-tweet textarea {
  width: 100%;
  padding: 5px; }

.new-tweet input {
  clear: both; }

.new-tweet .counter {
  float: right;
  font-size: small;
  margin-top: 5px; }

.limit-text {
  color: red; }

#nav-bar {
  position: fixed;
  background-color: #00a087;
  width: 100%;
  height: 80px;
  color: #e8fdff;
  padding: 0em 2em; }
  @media all and (max-width: 450px) {
    #nav-bar {
      height: auto; } }

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left; }

#nav-bar .header {
  line-height: 79px;
  font-size: 42px;
  padding-left: 10px;
  float: left; }

#nav-bar .btn-nav {
  background: #E5FEFF;
  border: 1px solid;
  margin: 20px 1px;
  padding: 10px;
  border-radius: 5px;
  color: #00a087;
  border-color: black; }

#nav-bar #login {
  display: flex;
  justify-content: flex-end; }
  @media all and (max-width: 450px) {
    #nav-bar #login {
      display: block;
      margin-bottom: 10%; } }

#nav-bar form > input {
  margin: 20px 2px; }
  @media all and (max-width: 450px) {
    #nav-bar form > input {
      line-height: 30px;
      width: 100%;
      margin: 0 0 5px 0; } }

@media all and (max-width: 450px) {
  #nav-bar #login > .btn-nav {
    width: 100%;
    margin: 5px 0px; } }

#nav-bar #logged-in {
  display: none;
  float: right; }

#nav-bar #logged-in #user-name {
  display: none;
  margin: 0 5px; }

#nav-bar #login {
  float: right; }

/*# sourceMappingURL=main.css.map */
