#nav-bar {
    position: fixed;
    background-color: #00a087;
    width: 100%;
    height: 80px;
    color: #e8fdff;
    padding: 0em 2em;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    float: left;
}

#nav-bar .header {
    line-height: 79px;
    font-size: 42px;
    padding-left: 10px;
    float: left;
}

#nav-bar button {
    float: right;
    background: #E5FEFF;
    border: 1px solid;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    color: #00a087;
    border-color: black;
}
